# **C.O.L.L.A.B.**
<hr style="border:2px solid black">

## Goal: 
* 
* 
<hr style="border:2px solid black">

# Imports

In [1]:
import pandas as pd
import numpy as np
from wrangle import wrangle

<hr style="border:2px solid black">

# **Acquire**
Plan --> **Acquire** --> Prepare --> Explore --> Model --> Deliver

*

<hr style="border:2px solid black">

# **Prepare**

**Prepare Actions:**
* To better estimate family income based on family composition, use the estimates of family count by family type(Married, Single Male with kids, Single Male without kids, Single Female with kids, Single Female without kids) and the estimates of income by family type. e.g. (female_with_kids (income) * female_with_kids (count) + (male_with_kids (income) * male_with_kids (count)))/2
* Merge transformed census dataframe (family) on to the cost_of_living dataframe (col) on county.
* Adjust for inflation 2020 to 2022

In [2]:
col_df = wrangle()
col_df

<hr style="border:2px solid black">

# **Explore**
Plan --> Acquire --> Prepare --> **Explore** --> Model --> Deliver

In [5]:
from sklearn.model_selection import train_test_split


import scipy.stats as stats

import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve

In [4]:
col_df = wrangle()
col_df

,isMetro,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,True,baldwin_county_al,1p0c,9389.7168,4047.838517,11695.354960,6095.774330,4868.955912,0.000000,7035.438338,43133.079117,68231.0
1,True,baldwin_county_al,1p1c,12057.5472,5965.530719,12557.698312,9202.278698,6530.472054,6498.165935,7733.884575,60545.577885,40290.0
2,True,baldwin_county_al,1p2c,12057.5472,8740.499095,14025.001501,12308.782543,7535.951830,16726.467488,10328.728236,81722.976455,40290.0
3,True,baldwin_county_al,1p3c,16333.9224,11660.210479,14661.041039,15415.287696,10143.378103,19873.636392,14165.050827,102252.529029,40290.0
4,True,baldwin_county_al,1p4c,16333.9224,14272.886101,15010.201189,18521.791802,11090.053013,19873.636392,14639.854019,109742.341255,40290.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8239,True,natrona_county_wy,2p0c,9638.1912,6488.226044,14376.812481,15580.609484,5843.237112,0.000000,6989.922143,58917.002125,94332.0
8240,True,natrona_county_wy,2p1c,11351.3568,8075.250345,15391.147754,19470.673688,7039.026177,10371.704499,8266.780036,79965.942045,103027.0
8241,True,natrona_county_wy,2p2c,11351.3568,10227.130977,16148.126321,23360.737891,7818.736621,22325.355529,9461.575727,100693.018690,103027.0
8242,True,natrona_county_wy,2p3c,16242.3792,12486.549760,16629.456544,27250.803403,10409.624308,26003.401758,11935.089207,120957.302610,103027.0
8243,True,natrona_county_wy,2p4c,16242.3792,15280.545260,17578.904689,31140.868914,11421.997680,26003.401758,12107.644216,129775.742763,103027.0

In [10]:
col_df = col_df.rename(columns = {'isMetro': 'is_metro'})

In [11]:
col_df.is_metro = col_df.is_metro.astype(bool)

In [13]:
col_df.dtypes

is_metro                     bool
county                     object
family_member_count        object
housing_cost              float64
food_cost                 float64
transportation_cost       float64
healthcare_cost           float64
other_necessities_cost    float64
childcare_cost            float64
taxes                     float64
total_cost                float64
median_family_income      float64
dtype: object

In [14]:
col_df.family_member_count

0       1p0c
1       1p1c
2       1p2c
3       1p3c
4       1p4c
        ...
8239    2p0c
8240    2p1c
8241    2p2c
8242    2p3c
8243    2p4c
Name: family_member_count, Length: 8230, dtype: object

<hr style="border:2px solid black">

# **Modeling**
Plan --> Acquire --> Prepare --> Explore --> **Model** --> Deliver

<hr style="border:2px solid black">

# **Comparing Models**

<hr style="border:2px solid black">

## **Best Model Evaluation on Test**

### <u>Modeling Summary:</u>

>*

<hr style="border:2px solid black">

# **Conclusions**

### <u>Modeling:</u>

>**<u>:</u>**
>* 

### <u>Recommendations:</u>
>* 

### <u>Next Steps:</u>
>*