In [89]:
import pandas as pd

In [90]:
col = pd.read_csv('cost_of_living_us.csv')
dem = pd.read_csv('county_demographics.csv')

In [91]:
col.state.value_counts().index

Index(['TX', 'GA', 'VA', 'KY', 'MO', 'KS', 'IL', 'NC', 'IA', 'TN', 'NE', 'IN',
       'OH', 'MN', 'MI', 'MS', 'OK', 'AR', 'WI', 'PA', 'AL', 'FL', 'SD', 'CO',
       'LA', 'NY', 'CA', 'MT', 'WV', 'ND', 'SC', 'ID', 'WA', 'OR', 'NM', 'AK',
       'UT', 'MD', 'WY', 'NJ', 'NV', 'ME', 'AZ', 'VT', 'MA', 'NH', 'CT', 'RI',
       'HI', 'DE', 'DC'],
      dtype='object', name='state')

In [92]:
col.county.value_counts()

county
Washington County        300
Jefferson County         250
Franklin County          240
Lincoln County           230
Jackson County           230
                        ...
Aroostook County          10
Androscoggin County       10
Winn Parish               10
West Feliciana Parish     10
Weston County             10
Name: count, Length: 1877, dtype: int64

In [6]:
col.columns

Index(['case_id', 'state', 'isMetro', 'areaname', 'county',
       'family_member_count', 'housing_cost', 'food_cost',
       'transportation_cost', 'healthcare_cost', 'other_necessities_cost',
       'childcare_cost', 'taxes', 'total_cost', 'median_family_income'],
      dtype='object')

### Second dataframe to Potentially Merge

In [83]:
family_income = pd.read_csv('B19126.csv')
family_count = pd.read_csv('DP02.csv')

In [84]:
male = family_count[6:8]
female = family_count[10:12]
family_count = pd.concat([female, male], ignore_index=True, axis = 0)
columns = family_count.columns[2::2]
family_count.drop(columns, axis = 1, inplace = True)
family_count = family_count.T.rename(columns = {0:'fem_total(count)', 1:'fem_with_kid(count)', 2:'male_total(count)', 3:'male_with_kid(count)'})
family_count = family_count.drop(family_count.index[0])

In [85]:
family_count

,fem_total(count),fem_with_kid(count),male_total(count),male_with_kid(count)
"Baldwin County, Alabama!!Estimate","22,981","4,249","13,426",950
"Calhoun County, Alabama!!Estimate","15,956","3,779","9,599",318
"Cullman County, Alabama!!Estimate","8,584","1,402","5,554",500
"DeKalb County, Alabama!!Estimate","8,026","1,343","4,541",362
"Elmore County, Alabama!!Estimate","9,466","2,283","4,373",727
...,...,...,...,...
"Ponce Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"San Juan Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"Toa Alta Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"Toa Baja Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"Trujillo Alto Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN

In [122]:
family_count['fem_total(count)'] = family_count['fem_total(count)'].str.replace(',', '').astype(int)
family_count['fem_with_kid(count)'] = family_count['fem_with_kid(count)'].str.replace(',', '').astype(int)
family_count['male_total(count)'] = family_count['male_total(count)'].str.replace(',', '').astype(int)
family_count['male_with_kid(count)'] = family_count['male_with_kid(count)'].str.replace(',', '').astype(int)

In [123]:
family_count

,fem_total(count),fem_with_kid(count),male_total(count),male_with_kid(count)
"Baldwin County, Alabama!!Estimate",22981,4249,13426,950
"Calhoun County, Alabama!!Estimate",15956,3779,9599,318
"Cullman County, Alabama!!Estimate",8584,1402,5554,500
"DeKalb County, Alabama!!Estimate",8026,1343,4541,362
"Elmore County, Alabama!!Estimate",9466,2283,4373,727
...,...,...,...,...
"Waukesha County, Wisconsin!!Estimate",36238,4193,25949,1716
"Winnebago County, Wisconsin!!Estimate",19948,2055,13825,586
"Wood County, Wisconsin!!Estimate",7968,1292,5163,235
"Laramie County, Wyoming!!Estimate",10505,1780,8101,646
"Natrona County, Wyoming!!Estimate",7619,856,7749,1065

In [125]:
# transform strings into floats
family_count['fem_no_kid(count)'] = family_count['fem_total(count)'] - family_count['fem_with_kid(count)']
family_count['male_no_kid(count)'] = family_count['male_total(count)'] - family_count['male_with_kid(count)']
family_count

,fem_total(count),fem_with_kid(count),male_total(count),male_with_kid(count),fem_no_kid(count),male_no_kid(count)
"Baldwin County, Alabama!!Estimate",22981,4249,13426,950,18732,12476
"Calhoun County, Alabama!!Estimate",15956,3779,9599,318,12177,9281
"Cullman County, Alabama!!Estimate",8584,1402,5554,500,7182,5054
"DeKalb County, Alabama!!Estimate",8026,1343,4541,362,6683,4179
"Elmore County, Alabama!!Estimate",9466,2283,4373,727,7183,3646
...,...,...,...,...,...,...
"Waukesha County, Wisconsin!!Estimate",36238,4193,25949,1716,32045,24233
"Winnebago County, Wisconsin!!Estimate",19948,2055,13825,586,17893,13239
"Wood County, Wisconsin!!Estimate",7968,1292,5163,235,6676,4928
"Laramie County, Wyoming!!Estimate",10505,1780,8101,646,8725,7455
"Natrona County, Wyoming!!Estimate",7619,856,7749,1065,6763,6684

In [86]:
family_income.head()

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Calhoun County, Alabama!!Estimate","Cullman County, Alabama!!Estimate","DeKalb County, Alabama!!Estimate","Elmore County, Alabama!!Estimate","Etowah County, Alabama!!Estimate","Houston County, Alabama!!Estimate","Jefferson County, Alabama!!Estimate","Lauderdale County, Alabama!!Estimate",...,"BayamÃ³n Municipio, Puerto Rico!!Estimate","Caguas Municipio, Puerto Rico!!Estimate","Carolina Municipio, Puerto Rico!!Estimate","Guaynabo Municipio, Puerto Rico!!Estimate","MayagÃ¼ez Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Estimate"
0,Median family income in the past 12 months (in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total:,"83,900","69,301","75,394","54,784","79,378","68,590","75,042","81,880","74,956",...,"32,687","33,080","40,273","56,380","25,030","21,488","35,044","48,233","35,528","45,742"
2,Married-couple family --,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Total,"96,333","82,338","86,281","72,883","97,421","79,407","96,500","110,937","82,955",...,"42,416","43,882","50,808","74,696","35,147","30,065","59,356","62,018","45,896","68,617"
4,With own children of the house...,"106,141","69,568","85,096","57,004","95,917","92,321","108,097","129,382","91,553",...,"57,523","63,007","51,731","89,709","43,765","37,900","76,165","48,214","65,154","60,125"

In [87]:
tot = family_income[4:6]
male = family_income[10:12]
female = family_income[14:16]
family_income = pd.concat([tot, female, male], ignore_index=True, axis = 0)
family_income = family_income.T.rename(columns = {0:'mar_with_kid', 1:'mar_no_kid', 2:'fem_with_kid(income)', 
                                                  3:'fem_no_kid(income)', 4:'male_with_kid(income)', 5:'male_no_kid(income)'})
family_income = family_income.drop(family_income.index[0])

In [129]:
family_income

,mar_with_kid,mar_no_kid,fem_with_kid(income),fem_no_kid(income),male_with_kid(income),male_no_kid(income)
"Baldwin County, Alabama!!Estimate","106,141","91,016","28,433","51,519","41,238","93,322"
"Calhoun County, Alabama!!Estimate","69,568","86,169","29,121","48,318","51,953","74,722"
"Cullman County, Alabama!!Estimate","85,096","88,386","21,387","36,857","33,008","91,032"
"DeKalb County, Alabama!!Estimate","57,004","75,605","28,830","47,992","40,141","144,039"
"Elmore County, Alabama!!Estimate","95,917","101,406","39,276","61,279","81,691","72,352"
...,...,...,...,...,...,...
"Ponce Municipio, Puerto Rico!!Estimate","37,900","27,092","3,513","20,286","20,135","31,092"
"San Juan Municipio, Puerto Rico!!Estimate","76,165","52,769","8,564","28,066","24,306","31,557"
"Toa Alta Municipio, Puerto Rico!!Estimate","48,214","64,840","19,045","32,256","41,610","82,121"
"Toa Baja Municipio, Puerto Rico!!Estimate","65,154","43,236","11,675","35,407","28,286","29,614"
"Trujillo Alto Municipio, Puerto Rico!!Estimate","60,125","70,569","26,220","28,153",-,"53,817"

In [ ]:
family = pd.concat([family_income, family_count])