In [2]:
import pandas as pd

In [3]:
col = pd.read_csv('cost_of_living_us.csv')
dem = pd.read_csv('county_demographics.csv')

In [11]:
col.state.value_counts().index

Index(['TX', 'GA', 'VA', 'KY', 'MO', 'KS', 'IL', 'NC', 'IA', 'TN', 'NE', 'IN',
       'OH', 'MN', 'MI', 'MS', 'OK', 'AR', 'WI', 'PA', 'AL', 'FL', 'SD', 'CO',
       'LA', 'NY', 'CA', 'MT', 'WV', 'ND', 'SC', 'ID', 'WA', 'OR', 'NM', 'AK',
       'UT', 'MD', 'WY', 'NJ', 'NV', 'ME', 'AZ', 'VT', 'MA', 'NH', 'CT', 'RI',
       'HI', 'DE', 'DC'],
      dtype='object', name='state')

In [13]:
col.county.value_counts()

county
Washington County        300
Jefferson County         250
Franklin County          240
Lincoln County           230
Jackson County           230
                        ...
Aroostook County          10
Androscoggin County       10
Winn Parish               10
West Feliciana Parish     10
Weston County             10
Name: count, Length: 1877, dtype: int64

In [4]:
col

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31425,3171,WY,False,"Weston County, WY",Weston County,2p0c,8316.00000,6010.65672,14790.36240,14466.55920,5191.11288,0.0000,6640.77324,55415.4672,80177.656250
31426,3171,WY,False,"Weston County, WY",Weston County,2p1c,10956.00000,7480.86696,15611.58600,18086.24160,6680.40384,8675.8770,7933.21068,75424.1832,80177.656250
31427,3171,WY,False,"Weston County, WY",Weston County,2p2c,10956.00000,9474.35748,16163.90280,21705.92280,7402.72416,21207.6984,9502.56228,96413.1684,80177.656250
31428,3171,WY,False,"Weston County, WY",Weston County,2p3c,13632.00000,11567.46972,17118.38400,25325.60400,9130.76148,25063.6440,11456.36724,113294.2260,80177.656250
31429,3171,WY,False,"Weston County, WY",Weston County,2p4c,13632.00000,14155.81080,17184.34920,28945.28640,10068.61968,25063.6440,11484.86724,120534.5760,80177.656250

In [7]:
col.columns

Index(['case_id', 'state', 'isMetro', 'areaname', 'county',
       'family_member_count', 'housing_cost', 'food_cost',
       'transportation_cost', 'healthcare_cost', 'other_necessities_cost',
       'childcare_cost', 'taxes', 'total_cost', 'median_family_income'],
      dtype='object')

### Second dataframe to Potentially Merge

In [5]:
dem

,County,State,Age.Percent 65 and Older,Age.Percent Under 18 Years,Age.Percent Under 5 Years,Education.Bachelor's Degree or Higher,Education.High School or Higher,Employment.Nonemployer Establishments,Ethnicities.American Indian and Alaska Native Alone,Ethnicities.Asian Alone,...,Population.Population per Square Mile,Sales.Accommodation and Food Services Sales,Sales.Retail Sales,Employment.Firms.Total,Employment.Firms.Women-Owned,Employment.Firms.Men-Owned,Employment.Firms.Minority-Owned,Employment.Firms.Nonminority-Owned,Employment.Firms.Veteran-Owned,Employment.Firms.Nonveteran-Owned
0,Abbeville County,SC,22.4,19.8,4.7,15.6,81.7,1416,0.3,0.4,...,51.8,12507,91371,1450,543,689,317,1080,187,1211
1,Acadia Parish,LA,15.8,25.8,6.9,13.3,79.0,4533,0.4,0.3,...,94.3,52706,602739,4664,1516,2629,705,3734,388,4007
2,Accomack County,VA,24.6,20.7,5.6,19.5,81.5,2387,0.7,0.8,...,73.8,53568,348195,2997,802,1716,335,2560,212,2536
3,Ada County,ID,14.9,23.2,5.6,38.5,95.2,41464,0.8,2.7,...,372.8,763099,5766679,41789,14661,19409,3099,36701,3803,35132
4,Adair County,IA,23.0,21.8,5.6,18.5,94.2,609,0.3,0.5,...,13.5,-1,63002,914,304,499,0,861,185,679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,Yuma County,AZ,19.3,25.1,7.1,15.0,73.3,9896,2.3,1.5,...,35.5,307540,1995974,10846,4298,4529,5749,4476,839,9265
3135,Yuma County,CO,18.7,27.4,7.5,21.8,88.6,1020,1.0,0.5,...,4.2,8501,125565,1492,391,797,45,1350,66,1278
3136,Zapata County,TX,13.2,33.1,8.6,11.6,61.9,1452,0.5,0.2,...,14.0,-1,75681,1964,818,1003,1680,235,181,1738
3137,Zavala County,TX,14.6,28.4,7.2,10.9,66.9,837,1.1,0.3,...,9.0,8808,45596,1232,486,674,1062,159,42,1178
3138,Ziebach County,SD,9.6,27.5,5.5,16.4,84.1,87,71.1,0.3,...,1.4,-1,15757,78,0,42,29,36,0,54

In [6]:
dem.columns

Index(['County', 'State', 'Age.Percent 65 and Older',
       'Age.Percent Under 18 Years', 'Age.Percent Under 5 Years',
       'Education.Bachelor's Degree or Higher',
       'Education.High School or Higher',
       'Employment.Nonemployer Establishments',
       'Ethnicities.American Indian and Alaska Native Alone',
       'Ethnicities.Asian Alone', 'Ethnicities.Black Alone',
       'Ethnicities.Hispanic or Latino',
       'Ethnicities.Native Hawaiian and Other Pacific Islander Alone',
       'Ethnicities.Two or More Races', 'Ethnicities.White Alone',
       'Ethnicities.White Alone\t not Hispanic or Latino',
       'Housing.Homeownership Rate', 'Housing.Households',
       'Housing.Housing Units', 'Housing.Median Value of Owner-Occupied Units',
       'Housing.Persons per Household', 'Income.Median Houseold Income',
       'Income.Per Capita Income', 'Miscellaneous.Foreign Born',
       'Miscellaneous.Land Area',
       'Miscellaneous.Language Other than English at Home',
       'Miscellaneous.Living in Same House +1 Years',
       'Miscellaneous.Manufacturers Shipments',
       'Miscellaneous.Mean Travel Time to Work',
       'Miscellaneous.Percent Female', 'Miscellaneous.Veterans',
       'Population.2020 Population', 'Population.2010 Population',
       'Population.Population per Square Mile',
       'Sales.Accommodation and Food Services Sales', 'Sales.Retail Sales',
       'Employment.Firms.Total', 'Employment.Firms.Women-Owned',
       'Employment.Firms.Men-Owned', 'Employment.Firms.Minority-Owned',
       'Employment.Firms.Nonminority-Owned', 'Employment.Firms.Veteran-Owned',
       'Employment.Firms.Nonveteran-Owned'],
      dtype='object')