In [2]:
import pandas as pd

In [3]:
col = pd.read_csv('cost_of_living_us.csv')
dem = pd.read_csv('county_demographics.csv')

In [11]:
col.state.value_counts().index

Index(['TX', 'GA', 'VA', 'KY', 'MO', 'KS', 'IL', 'NC', 'IA', 'TN', 'NE', 'IN',
       'OH', 'MN', 'MI', 'MS', 'OK', 'AR', 'WI', 'PA', 'AL', 'FL', 'SD', 'CO',
       'LA', 'NY', 'CA', 'MT', 'WV', 'ND', 'SC', 'ID', 'WA', 'OR', 'NM', 'AK',
       'UT', 'MD', 'WY', 'NJ', 'NV', 'ME', 'AZ', 'VT', 'MA', 'NH', 'CT', 'RI',
       'HI', 'DE', 'DC'],
      dtype='object', name='state')

In [13]:
col.county.value_counts()

county
Washington County        300
Jefferson County         250
Franklin County          240
Lincoln County           230
Jackson County           230
                        ...
Aroostook County          10
Androscoggin County       10
Winn Parish               10
West Feliciana Parish     10
Weston County             10
Name: count, Length: 1877, dtype: int64

In [4]:
col

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31425,3171,WY,False,"Weston County, WY",Weston County,2p0c,8316.00000,6010.65672,14790.36240,14466.55920,5191.11288,0.0000,6640.77324,55415.4672,80177.656250
31426,3171,WY,False,"Weston County, WY",Weston County,2p1c,10956.00000,7480.86696,15611.58600,18086.24160,6680.40384,8675.8770,7933.21068,75424.1832,80177.656250
31427,3171,WY,False,"Weston County, WY",Weston County,2p2c,10956.00000,9474.35748,16163.90280,21705.92280,7402.72416,21207.6984,9502.56228,96413.1684,80177.656250
31428,3171,WY,False,"Weston County, WY",Weston County,2p3c,13632.00000,11567.46972,17118.38400,25325.60400,9130.76148,25063.6440,11456.36724,113294.2260,80177.656250
31429,3171,WY,False,"Weston County, WY",Weston County,2p4c,13632.00000,14155.81080,17184.34920,28945.28640,10068.61968,25063.6440,11484.86724,120534.5760,80177.656250

In [7]:
col.columns

Index(['case_id', 'state', 'isMetro', 'areaname', 'county',
       'family_member_count', 'housing_cost', 'food_cost',
       'transportation_cost', 'healthcare_cost', 'other_necessities_cost',
       'childcare_cost', 'taxes', 'total_cost', 'median_family_income'],
      dtype='object')

### Second dataframe to Potentially Merge

In [11]:
family_income = pd.read_csv('B19126.csv')
family_count = pd.read_csv('DP02.csv')

In [40]:
male = family_count[6:8]
female = family_count[10:12]

In [45]:
family_count = pd.concat([female, male], axis = 0)
family_count

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Baldwin County, Alabama!!Percent","Calhoun County, Alabama!!Estimate","Calhoun County, Alabama!!Percent","Cullman County, Alabama!!Estimate","Cullman County, Alabama!!Percent","DeKalb County, Alabama!!Estimate","DeKalb County, Alabama!!Percent","Elmore County, Alabama!!Estimate",...,"Ponce Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Percent","San Juan Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Percent","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Percent","Toa Baja Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Percent","Trujillo Alto Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Percent"
10,"Female householder, no spouse/partner ...","22,981",23.2%,"15,956",34.9%,"8,584",23.9%,"8,026",30.3%,"9,466",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,With children of the householder u...,"4,249",4.3%,"3,779",8.3%,"1,402",3.9%,"1,343",5.1%,"2,283",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Male householder, no spouse/partner pr...","13,426",13.6%,"9,599",21.0%,"5,554",15.4%,"4,541",17.2%,"4,373",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,With children of the householder u...,950,1.0%,318,0.7%,500,1.4%,362,1.4%,727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
6: 'Male householder, no spouse/partner present', 7: 'With children of the householder under 18 years', 10: 'Female householder, no spouse/partner present', 11: 'With children of the householder under 18 years'

In [35]:
family_count.head(20)

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Baldwin County, Alabama!!Percent","Calhoun County, Alabama!!Estimate","Calhoun County, Alabama!!Percent","Cullman County, Alabama!!Estimate","Cullman County, Alabama!!Percent","DeKalb County, Alabama!!Estimate","DeKalb County, Alabama!!Percent","Elmore County, Alabama!!Estimate",...,"Ponce Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Percent","San Juan Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Percent","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Percent","Toa Baja Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Percent","Trujillo Alto Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Percent"
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total households,"98,854","98,854","45,701","45,701","35,966","35,966","26,459","26,459","34,061",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Married-couple household,"56,885",57.5%,"18,263",40.0%,"19,406",54.0%,"12,586",47.6%,"18,437",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,With children of the householder u...,"18,113",18.3%,"5,013",11.0%,"7,415",20.6%,"4,195",15.9%,"7,542",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cohabiting couple household,"5,562",5.6%,"1,883",4.1%,"2,422",6.7%,"1,306",4.9%,"1,785",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,With children of the householder u...,"2,334",2.4%,753,1.6%,992,2.8%,452,1.7%,948,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Male householder, no spouse/partner pr...","13,426",13.6%,"9,599",21.0%,"5,554",15.4%,"4,541",17.2%,"4,373",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,With children of the householder u...,950,1.0%,318,0.7%,500,1.4%,362,1.4%,727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Householder living alone,"11,038",11.2%,"6,445",14.1%,"3,962",11.0%,"2,851",10.8%,"2,656",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,65 years and over,"5,565",5.6%,"1,905",4.2%,"1,544",4.3%,997,3.8%,"1,187",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Female householder, no spouse/partner ...","22,981",23.2%,"15,956",34.9%,"8,584",23.9%,"8,026",30.3%,"9,466",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,With children of the householder u...,"4,249",4.3%,"3,779",8.3%,"1,402",3.9%,"1,343",5.1%,"2,283",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Householder living alone,"14,152",14.3%,"7,964",17.4%,"4,764",13.2%,"4,581",17.3%,"4,848",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,65 years and over,"7,330",7.4%,"3,855",8.4%,"2,773",7.7%,"2,444",9.2%,"1,922",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Households with one or more people und...,"28,812",29.1%,"11,789",25.8%,"12,089",33.6%,"7,499",28.3%,"12,950",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Households with one or more people 65 ...,"38,299",38.7%,"15,238",33.3%,"12,253",34.1%,"8,648",32.7%,"10,389",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Average household size,2.46,(X),2.43,(X),2.49,(X),2.69,(X),2.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Average family size,2.92,(X),3.02,(X),2.95,(X),3.19,(X),2.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RELATIONSHIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Population in households,"242,869","242,869","111,180","111,180","89,458","89,458","71,128","71,128","85,530",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN