In [1]:
import pandas as pd

In [2]:
col = pd.read_csv('cost_of_living_us.csv')
dem = pd.read_csv('county_demographics.csv')

In [3]:
col.state.value_counts().index

Index(['TX', 'GA', 'VA', 'KY', 'MO', 'KS', 'IL', 'NC', 'IA', 'TN', 'NE', 'IN',
       'OH', 'MN', 'MI', 'MS', 'OK', 'AR', 'WI', 'PA', 'AL', 'FL', 'SD', 'CO',
       'LA', 'NY', 'CA', 'MT', 'WV', 'ND', 'SC', 'ID', 'WA', 'OR', 'NM', 'AK',
       'UT', 'MD', 'WY', 'NJ', 'NV', 'ME', 'AZ', 'VT', 'MA', 'NH', 'CT', 'RI',
       'HI', 'DE', 'DC'],
      dtype='object', name='state')

In [4]:
col.county.value_counts()

county
Washington County        300
Jefferson County         250
Franklin County          240
Lincoln County           230
Jackson County           230
                        ...
Aroostook County          10
Androscoggin County       10
Winn Parish               10
West Feliciana Parish     10
Weston County             10
Name: count, Length: 1877, dtype: int64

In [5]:
col

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31425,3171,WY,False,"Weston County, WY",Weston County,2p0c,8316.00000,6010.65672,14790.36240,14466.55920,5191.11288,0.0000,6640.77324,55415.4672,80177.656250
31426,3171,WY,False,"Weston County, WY",Weston County,2p1c,10956.00000,7480.86696,15611.58600,18086.24160,6680.40384,8675.8770,7933.21068,75424.1832,80177.656250
31427,3171,WY,False,"Weston County, WY",Weston County,2p2c,10956.00000,9474.35748,16163.90280,21705.92280,7402.72416,21207.6984,9502.56228,96413.1684,80177.656250
31428,3171,WY,False,"Weston County, WY",Weston County,2p3c,13632.00000,11567.46972,17118.38400,25325.60400,9130.76148,25063.6440,11456.36724,113294.2260,80177.656250
31429,3171,WY,False,"Weston County, WY",Weston County,2p4c,13632.00000,14155.81080,17184.34920,28945.28640,10068.61968,25063.6440,11484.86724,120534.5760,80177.656250

In [6]:
col.columns

Index(['case_id', 'state', 'isMetro', 'areaname', 'county',
       'family_member_count', 'housing_cost', 'food_cost',
       'transportation_cost', 'healthcare_cost', 'other_necessities_cost',
       'childcare_cost', 'taxes', 'total_cost', 'median_family_income'],
      dtype='object')

### Second dataframe to Potentially Merge

In [7]:
family_income = pd.read_csv('B19126.csv')
family_count = pd.read_csv('DP02.csv')

In [8]:
male = family_count[6:8]
female = family_count[10:12]

In [9]:
family_count = pd.concat([female, male], axis = 0)
family_count

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Baldwin County, Alabama!!Percent","Calhoun County, Alabama!!Estimate","Calhoun County, Alabama!!Percent","Cullman County, Alabama!!Estimate","Cullman County, Alabama!!Percent","DeKalb County, Alabama!!Estimate","DeKalb County, Alabama!!Percent","Elmore County, Alabama!!Estimate",...,"Ponce Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Percent","San Juan Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Percent","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Percent","Toa Baja Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Percent","Trujillo Alto Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Percent"
10,"Female householder, no spouse/partner ...","22,981",23.2%,"15,956",34.9%,"8,584",23.9%,"8,026",30.3%,"9,466",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,With children of the householder u...,"4,249",4.3%,"3,779",8.3%,"1,402",3.9%,"1,343",5.1%,"2,283",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Male householder, no spouse/partner pr...","13,426",13.6%,"9,599",21.0%,"5,554",15.4%,"4,541",17.2%,"4,373",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,With children of the householder u...,950,1.0%,318,0.7%,500,1.4%,362,1.4%,727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
columns = family_count.columns[2::2]
family_count.drop(columns, axis = 1, inplace = True)

In [11]:
family_count

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Calhoun County, Alabama!!Estimate","Cullman County, Alabama!!Estimate","DeKalb County, Alabama!!Estimate","Elmore County, Alabama!!Estimate","Etowah County, Alabama!!Estimate","Houston County, Alabama!!Estimate","Jefferson County, Alabama!!Estimate","Lauderdale County, Alabama!!Estimate",...,"Bayamón Municipio, Puerto Rico!!Estimate","Caguas Municipio, Puerto Rico!!Estimate","Carolina Municipio, Puerto Rico!!Estimate","Guaynabo Municipio, Puerto Rico!!Estimate","Mayagüez Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Estimate"
10,"Female householder, no spouse/partner ...","22,981","15,956","8,584","8,026","9,466","10,773","13,530","100,461","11,456",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,With children of the householder u...,"4,249","3,779","1,402","1,343","2,283","2,116","3,002","20,690","1,543",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Male householder, no spouse/partner pr...","13,426","9,599","5,554","4,541","4,373","6,816","8,435","49,311","6,147",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,With children of the householder u...,950,318,500,362,727,103,427,"1,834",236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tot = family_income[4:6]
male = family_income[10:12]
female = family_income[14:16]

In [14]:
family_count

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Calhoun County, Alabama!!Estimate","Cullman County, Alabama!!Estimate","DeKalb County, Alabama!!Estimate","Elmore County, Alabama!!Estimate","Etowah County, Alabama!!Estimate","Houston County, Alabama!!Estimate","Jefferson County, Alabama!!Estimate","Lauderdale County, Alabama!!Estimate",...,"Bayamón Municipio, Puerto Rico!!Estimate","Caguas Municipio, Puerto Rico!!Estimate","Carolina Municipio, Puerto Rico!!Estimate","Guaynabo Municipio, Puerto Rico!!Estimate","Mayagüez Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Estimate"
10,"Female householder, no spouse/partner ...","22,981","15,956","8,584","8,026","9,466","10,773","13,530","100,461","11,456",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,With children of the householder u...,"4,249","3,779","1,402","1,343","2,283","2,116","3,002","20,690","1,543",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Male householder, no spouse/partner pr...","13,426","9,599","5,554","4,541","4,373","6,816","8,435","49,311","6,147",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,With children of the householder u...,950,318,500,362,727,103,427,"1,834",236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
family_income = pd.concat([tot, female, male], axis = 0)
family_income

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Calhoun County, Alabama!!Estimate","Cullman County, Alabama!!Estimate","DeKalb County, Alabama!!Estimate","Elmore County, Alabama!!Estimate","Etowah County, Alabama!!Estimate","Houston County, Alabama!!Estimate","Jefferson County, Alabama!!Estimate","Lauderdale County, Alabama!!Estimate",...,"Bayamón Municipio, Puerto Rico!!Estimate","Caguas Municipio, Puerto Rico!!Estimate","Carolina Municipio, Puerto Rico!!Estimate","Guaynabo Municipio, Puerto Rico!!Estimate","Mayagüez Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Estimate"
4,With own children of the house...,"106,141","69,568","85,096","57,004","95,917","92,321","108,097","129,382","91,553",...,"57,523","63,007","51,731","89,709","43,765","37,900","76,165","48,214","65,154","60,125"
5,No own children of the househo...,"91,016","86,169","88,386","75,605","101,406","73,509","91,675","98,502","80,758",...,"36,948","36,787","50,127","72,339","33,437","27,092","52,769","64,840","43,236","70,569"
14,With own children of t...,"28,433","29,121","21,387","28,830","39,276","21,938","27,769","29,925","28,683",...,"15,448","16,612","16,205","23,042","5,462","3,513","8,564","19,045","11,675","26,220"
15,No own children of the...,"51,519","48,318","36,857","47,992","61,279","54,206","51,783","54,511","63,705",...,"34,139","33,020","42,457","31,503","18,641","20,286","28,066","32,256","35,407","28,153"
10,With own children of t...,"41,238","51,953","33,008","40,141","81,691","30,213","52,679","31,326","75,106",...,"30,567","33,044","20,793","52,380","18,627","20,135","24,306","41,610","28,286",-
11,No own children of the...,"93,322","74,722","91,032","144,039","72,352","56,584","50,106","65,485","77,708",...,"28,543","19,119","43,615","24,911","46,458","31,092","31,557","82,121","29,614","53,817"

In [16]:
family_income['Label (Grouping)'][4] = 'mar_with_kid'
family_income['Label (Grouping)'][5] = 'mar_no_kid'
family_income['Label (Grouping)'][14] = 'fem_with_kid(income)'
family_income['Label (Grouping)'][15] = 'fem_no_kid(income)'
family_income['Label (Grouping)'][10] = 'male_with_kid(income)'
family_income['Label (Grouping)'][11] = 'male_no_kid(income)'
family_income = family_income.T
family_income

,4,5,14,15,10,11
Label (Grouping),mar_with_kid,mar_no_kid,fem_with_kid(income),fem_no_kid(income),male_with_kid(income),male_no_kid(income)
"Baldwin County, Alabama!!Estimate","106,141","91,016","28,433","51,519","41,238","93,322"
"Calhoun County, Alabama!!Estimate","69,568","86,169","29,121","48,318","51,953","74,722"
"Cullman County, Alabama!!Estimate","85,096","88,386","21,387","36,857","33,008","91,032"
"DeKalb County, Alabama!!Estimate","57,004","75,605","28,830","47,992","40,141","144,039"
...,...,...,...,...,...,...
"Ponce Municipio, Puerto Rico!!Estimate","37,900","27,092","3,513","20,286","20,135","31,092"
"San Juan Municipio, Puerto Rico!!Estimate","76,165","52,769","8,564","28,066","24,306","31,557"
"Toa Alta Municipio, Puerto Rico!!Estimate","48,214","64,840","19,045","32,256","41,610","82,121"
"Toa Baja Municipio, Puerto Rico!!Estimate","65,154","43,236","11,675","35,407","28,286","29,614"
"Trujillo Alto Municipio, Puerto Rico!!Estimate","60,125","70,569","26,220","28,153",-,"53,817"

4: mar_with_kid
5: mar_no_kid
14: fem_with_kid
15: fem_no_kid
10: male_with_kid
11: male_no_kid

In [21]:
family_count.reset_index(True)

IndexError: Too many levels: Index has only 1 level, not 2

In [19]:
family_count = family_count.T
family_count.reset_index(True)

IndexError: Too many levels: Index has only 1 level, not 2

In [17]:
family_count['Label (Grouping)'][10] = 'fem_total(count)'
family_count['Label (Grouping)'][11] = 'fem_with_kid(count)'
family_count['Label (Grouping)'][6] = 'male_total(count)'
family_count['Label (Grouping)'][7] = 'male_with_kid(count)'

family_count = family_count.T
family_count.reset_index(True)
family_count

/var/folders/sw/4nk3j1h92wb2t79pkgpn3gcw0000gp/T/ipykernel_75619/581404912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family_count['Label (Grouping)'][10] = 'fem_total(count)'
/var/folders/sw/4nk3j1h92wb2t79pkgpn3gcw0000gp/T/ipykernel_75619/581404912.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family_count['Label (Grouping)'][11] = 'fem_with_kid(count)'
/var/folders/sw/4nk3j1h92wb2t79pkgpn3gcw0000gp/T/ipykernel_75619/581404912.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family_count['Label (Grouping)'][6] = 'male_total(count)'
/var/folders/sw/4nk3j1h92wb2t79pkgpn3gcw0000gp/T/ipykernel_75619/581404912.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family_count['Label (Grouping)'][7] = 'male_with_kid(count)'

,10,11,6,7
Label (Grouping),fem_total(count),fem_with_kid(count),male_total(count),male_with_kid(count)
"Baldwin County, Alabama!!Estimate","22,981","4,249","13,426",950
"Calhoun County, Alabama!!Estimate","15,956","3,779","9,599",318
"Cullman County, Alabama!!Estimate","8,584","1,402","5,554",500
"DeKalb County, Alabama!!Estimate","8,026","1,343","4,541",362
...,...,...,...,...
"Ponce Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"San Juan Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"Toa Alta Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"Toa Baja Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN
"Trujillo Alto Municipio, Puerto Rico!!Estimate",NaN,NaN,NaN,NaN

In [ ]:
family_count['fem_no_kid(count)'] = 
family_count['male_no_kid(count)'] =

10: 'fem_total(count)'
11: 'fem_with_kid(count)'
6: 'male_total(count)'
7: 'male_with_kid(count)'
fem_no_kid(count)
male_no_kid(count)